In [ ]:
# #QUESTION
# ## Homework Assignment 3: Find all dividends

# ### Data Preparation

# Use the 6 stocks ['IBM', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'FB'] historical data from homework assignment 2.

# ### Load the data to dataframes

# You will have 6 dataframes.

# ### Understand how to compute the dividends

# There are two columns in each csv file, "Close" and "Adj Close". If we compute the ratio of previous day's "Close" price 
#and today's "Close" price, then compare with the ratio of previous day's "Adj Close" price and today's "Adj Close" price, 
#on most of days, the two ratios should be equal. On dividend day, the two ratios will have a difference. 
#The difference times today's "Close" price, you will get the dividend. As the example below, you should be able to use 
#the method to reproduce the $1.5 dividend on 2/8/2018.

# ![image.png](attachment:image.png)

# ### The result

# You result will have 6 dataframes, each of them have two columns, Date and Dividend. The dataframe should only have 
#the rows that represent the divident day and amount.

# ### Submit

# Submit your jupyter notebook file and HTML format with all intermediate results and the final dataframe.

In [64]:
ibm = (read.csv('IBM.CSV'))
goog = read.csv('GOOG.CSV')
fb = read.csv('FB.CSV')
msft = read.csv('MSFT.CSV')
amzn = read.csv('AMZN.CSV')
aapl = read.csv('AAPL.CSV')

In [65]:
#Finding "Close_Ratio" and adding it to the dataframe
#IBM
ibm_cl_rat= ibm[-nrow(ibm),5]/ibm[-1,5]
ibm$Close_Ratio = c(NA,ibm_cl_rat)
head(ibm)

#GOOG
goog_cl_rat= goog[-nrow(goog),5]/goog[-1,5]
goog$Close_Ratio = c(NA,goog_cl_rat)
head(goog)

#FB
fb_cl_rat= fb[-nrow(fb),5]/fb[-1,5]
fb$Close_Ratio = c(NA,fb_cl_rat)
head(fb)

#MSFT
msft_cl_rat= msft[-nrow(msft),5]/msft[-1,5]
msft$Close_Ratio = c(NA,msft_cl_rat)
head(msft)

#AMZN
amzn_cl_rat= amzn[-nrow(amzn),5]/amzn[-1,5]
amzn$Close_Ratio = c(NA,amzn_cl_rat)
head(amzn)

#AAPL
aapl_cl_rat= aapl[-nrow(aapl),5]/aapl[-1,5]
aapl$Close_Ratio = c(NA,aapl_cl_rat)
head(aapl)

#Dataframe with "Close_ratio" column displayed below

  Date       Open   High   Low    Close  Adj.Close Volume  Close_Ratio
1 2018-01-02 154.50 154.81 153.54 154.25 135.7438  4202500        NA
2 2018-01-03 157.34 159.81 156.33 158.49 139.4751  9441600 0.9732475
3 2018-01-04 159.65 162.32 159.37 161.70 142.3000  7556200 0.9801485
4 2018-01-05 162.44 162.90 161.10 162.49 142.9952  5195800 0.9951381
5 2018-01-08 162.66 163.91 161.70 163.47 143.8576  5237500 0.9940050
6 2018-01-09 163.90 164.53 163.06 163.83 144.1744  4341800 0.9978026

  Date       Open    High    Low      Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600        NA
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200 0.9838519
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600 0.9963917
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100 0.9856382
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600 0.9957451
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500 1.0006146

  Date       Open   High   Low    Close  Adj.Close Volume   Close_Ratio
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900        NA
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600 0.9824010
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900 1.0018445
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500 0.9865132
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700 0.9924050
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100 1.0021824

  Date       Open  High  Low   Close Adj.Close Volume   Close_Ratio
1 2018-01-02 86.13 86.31 85.50 85.95 82.59932  22483800        NA
2 2018-01-03 86.06 86.51 85.97 86.35 82.98373  26061400 0.9953677
3 2018-01-04 86.59 87.66 86.57 87.11 83.71412  21912000 0.9912754
4 2018-01-05 87.66 88.41 87.43 88.19 84.75201  23407100 0.9877537
5 2018-01-08 88.20 88.58 87.60 88.28 84.83849  22113000 0.9989806
6 2018-01-09 88.65 88.73 87.86 88.22 84.78084  19484300 1.0006801

  Date       Open    High    Low     Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500        NA
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800 0.9873859
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100 0.9955439
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700 0.9840945
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500 0.9857804
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300 0.9953461

  Date       Open    High    Low     Close   Adj.Close Volume    Close_Ratio
1 2018-01-02 42.5400 43.0750 42.3150 43.0650 41.51358  102223600        NA
2 2018-01-03 43.1325 43.6375 42.9900 43.0575 41.50634  118071600 1.0001742
3 2018-01-04 43.1350 43.3675 43.0200 43.2575 41.69914   89738400 0.9953765
4 2018-01-05 43.3600 43.8425 43.2625 43.7500 42.17389   94640000 0.9887429
5 2018-01-08 43.5875 43.9025 43.4825 43.5875 42.01725   82271200 1.0037281
6 2018-01-09 43.6375 43.7650 43.3525 43.5825 42.01243   86336000 1.0001148

In [66]:
#Finding "Adj.Close_Ratio" and adding it to the dataframe
#IBM
ibm_adj_rat = ibm[-nrow(ibm),6] / ibm[-1,6]
ibm$Adj.Close_Ratio = c(NA,ibm_adj_rat)
head(ibm)

#GOOG
goog_adj_rat = goog[-nrow(goog),6] / goog[-1,6]
goog$Adj.Close_Ratio = c(NA,goog_adj_rat)
head(goog)

#FB
fb_adj_rat = fb[-nrow(fb),6] / fb[-1,6]
fb$Adj.Close_Ratio = c(NA,fb_adj_rat)
head(fb)

#MSFT
msft_adj_rat = msft[-nrow(msft),6] / msft[-1,6]
msft$Adj.Close_Ratio = c(NA,msft_adj_rat)
head(msft)

#AMZN
amzn_adj_rat = amzn[-nrow(amzn),6] / amzn[-1,6]
amzn$Adj.Close_Ratio = c(NA,amzn_adj_rat)
head(amzn)

#AAPL
aapl_adj_rat = aapl[-nrow(aapl),6] / aapl[-1,6]
aapl$Adj.Close_Ratio = c(NA,aapl_adj_rat)
head(aapl)

#Dataframe with "Adj.Close_Ratio" column displayed below

  Date       Open   High   Low    Close  Adj.Close Volume  Close_Ratio
1 2018-01-02 154.50 154.81 153.54 154.25 135.7438  4202500        NA
2 2018-01-03 157.34 159.81 156.33 158.49 139.4751  9441600 0.9732475
3 2018-01-04 159.65 162.32 159.37 161.70 142.3000  7556200 0.9801485
4 2018-01-05 162.44 162.90 161.10 162.49 142.9952  5195800 0.9951381
5 2018-01-08 162.66 163.91 161.70 163.47 143.8576  5237500 0.9940050
6 2018-01-09 163.90 164.53 163.06 163.83 144.1744  4341800 0.9978026
  Adj.Close_Ratio
1        NA
2 0.9732472
3 0.9801487
4 0.9951380
5 0.9940050
6 0.9978027

  Date       Open    High    Low      Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600        NA
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200 0.9838519
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600 0.9963917
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100 0.9856382
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600 0.9957451
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500 1.0006146
  Adj.Close_Ratio
1        NA
2 0.9838519
3 0.9963917
4 0.9856382
5 0.9957451
6 1.0006146

  Date       Open   High   Low    Close  Adj.Close Volume   Close_Ratio
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900        NA
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600 0.9824010
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900 1.0018445
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500 0.9865132
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700 0.9924050
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100 1.0021824
  Adj.Close_Ratio
1        NA
2 0.9824010
3 1.0018445
4 0.9865132
5 0.9924050
6 1.0021824

  Date       Open  High  Low   Close Adj.Close Volume   Close_Ratio
1 2018-01-02 86.13 86.31 85.50 85.95 82.59932  22483800        NA
2 2018-01-03 86.06 86.51 85.97 86.35 82.98373  26061400 0.9953677
3 2018-01-04 86.59 87.66 86.57 87.11 83.71412  21912000 0.9912754
4 2018-01-05 87.66 88.41 87.43 88.19 84.75201  23407100 0.9877537
5 2018-01-08 88.20 88.58 87.60 88.28 84.83849  22113000 0.9989806
6 2018-01-09 88.65 88.73 87.86 88.22 84.78084  19484300 1.0006801
  Adj.Close_Ratio
1        NA
2 0.9953677
3 0.9912752
4 0.9877537
5 0.9989807
6 1.0006800

  Date       Open    High    Low     Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500        NA
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800 0.9873859
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100 0.9955439
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700 0.9840945
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500 0.9857804
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300 0.9953461
  Adj.Close_Ratio
1        NA
2 0.9873859
3 0.9955439
4 0.9840945
5 0.9857804
6 0.9953461

  Date       Open    High    Low     Close   Adj.Close Volume    Close_Ratio
1 2018-01-02 42.5400 43.0750 42.3150 43.0650 41.51358  102223600        NA
2 2018-01-03 43.1325 43.6375 42.9900 43.0575 41.50634  118071600 1.0001742
3 2018-01-04 43.1350 43.3675 43.0200 43.2575 41.69914   89738400 0.9953765
4 2018-01-05 43.3600 43.8425 43.2625 43.7500 42.17389   94640000 0.9887429
5 2018-01-08 43.5875 43.9025 43.4825 43.5875 42.01725   82271200 1.0037281
6 2018-01-09 43.6375 43.7650 43.3525 43.5825 42.01243   86336000 1.0001148
  Adj.Close_Ratio
1        NA
2 1.0001743
3 0.9953765
4 0.9887429
5 1.0037280
6 1.0001148

In [67]:
#Finding the difference between close_ratio and adj.close_ratio and adding the "Difference_Ratio" column to the dataframe
#IBM
ibm$Difference_Ratio = ibm[,8] - ibm[,9]
head(ibm)

#GOOG
goog$Difference_Ratio = goog[,8] - goog[,9]
head(goog)

#FB
fb$Difference_Ratio = fb[,8] - fb[,9]
head(fb)

#MSFT
msft$Difference_Ratio = msft[,8] - msft[,9]
head(msft)

#AMZN
amzn$Difference_Ratio = amzn[,8] - amzn[,9]
head(amzn)

#AAPL
aapl$Difference_Ratio = aapl[,8] - aapl[,9]
head(aapl)

  Date       Open   High   Low    Close  Adj.Close Volume  Close_Ratio
1 2018-01-02 154.50 154.81 153.54 154.25 135.7438  4202500        NA
2 2018-01-03 157.34 159.81 156.33 158.49 139.4751  9441600 0.9732475
3 2018-01-04 159.65 162.32 159.37 161.70 142.3000  7556200 0.9801485
4 2018-01-05 162.44 162.90 161.10 162.49 142.9952  5195800 0.9951381
5 2018-01-08 162.66 163.91 161.70 163.47 143.8576  5237500 0.9940050
6 2018-01-09 163.90 164.53 163.06 163.83 144.1744  4341800 0.9978026
  Adj.Close_Ratio Difference_Ratio
1        NA                  NA
2 0.9732472        3.228902e-07
3 0.9801487       -1.937099e-07
4 0.9951380        6.691049e-08
5 0.9940050        4.466596e-08
6 0.9978027       -1.503966e-07

  Date       Open    High    Low      Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600        NA
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200 0.9838519
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600 0.9963917
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100 0.9856382
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600 0.9957451
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500 1.0006146
  Adj.Close_Ratio Difference_Ratio
1        NA       NA
2 0.9838519        0
3 0.9963917        0
4 0.9856382        0
5 0.9957451        0
6 1.0006146        0

  Date       Open   High   Low    Close  Adj.Close Volume   Close_Ratio
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900        NA
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600 0.9824010
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900 1.0018445
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500 0.9865132
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700 0.9924050
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100 1.0021824
  Adj.Close_Ratio Difference_Ratio
1        NA       NA
2 0.9824010        0
3 1.0018445        0
4 0.9865132        0
5 0.9924050        0
6 1.0021824        0

  Date       Open  High  Low   Close Adj.Close Volume   Close_Ratio
1 2018-01-02 86.13 86.31 85.50 85.95 82.59932  22483800        NA
2 2018-01-03 86.06 86.51 85.97 86.35 82.98373  26061400 0.9953677
3 2018-01-04 86.59 87.66 86.57 87.11 83.71412  21912000 0.9912754
4 2018-01-05 87.66 88.41 87.43 88.19 84.75201  23407100 0.9877537
5 2018-01-08 88.20 88.58 87.60 88.28 84.83849  22113000 0.9989806
6 2018-01-09 88.65 88.73 87.86 88.22 84.78084  19484300 1.0006801
  Adj.Close_Ratio Difference_Ratio
1        NA                  NA
2 0.9953677        7.849602e-09
3 0.9912752        2.010697e-07
4 0.9877537       -3.983611e-08
5 0.9989807       -1.950922e-07
6 1.0006800        1.302384e-07

  Date       Open    High    Low     Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500        NA
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800 0.9873859
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100 0.9955439
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700 0.9840945
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500 0.9857804
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300 0.9953461
  Adj.Close_Ratio Difference_Ratio
1        NA       NA
2 0.9873859        0
3 0.9955439        0
4 0.9840945        0
5 0.9857804        0
6 0.9953461        0

  Date       Open    High    Low     Close   Adj.Close Volume    Close_Ratio
1 2018-01-02 42.5400 43.0750 42.3150 43.0650 41.51358  102223600        NA
2 2018-01-03 43.1325 43.6375 42.9900 43.0575 41.50634  118071600 1.0001742
3 2018-01-04 43.1350 43.3675 43.0200 43.2575 41.69914   89738400 0.9953765
4 2018-01-05 43.3600 43.8425 43.2625 43.7500 42.17389   94640000 0.9887429
5 2018-01-08 43.5875 43.9025 43.4825 43.5875 42.01725   82271200 1.0037281
6 2018-01-09 43.6375 43.7650 43.3525 43.5825 42.01243   86336000 1.0001148
  Adj.Close_Ratio Difference_Ratio
1        NA                  NA
2 1.0001743       -1.491097e-07
3 0.9953765       -2.205712e-08
4 0.9887429       -8.389889e-08
5 1.0037280        1.184949e-07
6 1.0001148       -4.713328e-09

In [68]:
#Finding the "Dividend" and adding the column to the dataframe
#IBM
ibm$Dividend = ibm[,5]*ibm[,10]
head(ibm)

#GOOG
goog$Dividend = goog[,5]*goog[,10]
head(goog)

#FB
fb$Dividend = fb[,5]*fb[,10]
head(fb)

#MSFT
msft$Dividend = msft[,5]*msft[,10]
head(msft)

#AMZN
amzn$Dividend = amzn[,5]*amzn[,10]
head(amzn)

#AAPL
aapl$Dividend = aapl[,5]*aapl[,10]
head(aapl)

  Date       Open   High   Low    Close  Adj.Close Volume  Close_Ratio
1 2018-01-02 154.50 154.81 153.54 154.25 135.7438  4202500        NA
2 2018-01-03 157.34 159.81 156.33 158.49 139.4751  9441600 0.9732475
3 2018-01-04 159.65 162.32 159.37 161.70 142.3000  7556200 0.9801485
4 2018-01-05 162.44 162.90 161.10 162.49 142.9952  5195800 0.9951381
5 2018-01-08 162.66 163.91 161.70 163.47 143.8576  5237500 0.9940050
6 2018-01-09 163.90 164.53 163.06 163.83 144.1744  4341800 0.9978026
  Adj.Close_Ratio Difference_Ratio Dividend
1        NA                  NA               NA
2 0.9732472        3.228902e-07     5.117487e-05
3 0.9801487       -1.937099e-07    -3.132288e-05
4 0.9951380        6.691049e-08     1.087229e-05
5 0.9940050        4.466596e-08     7.301545e-06
6 0.9978027       -1.503966e-07    -2.463947e-05

  Date       Open    High    Low      Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600        NA
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200 0.9838519
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600 0.9963917
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100 0.9856382
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600 0.9957451
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500 1.0006146
  Adj.Close_Ratio Difference_Ratio Dividend
1        NA       NA               NA
2 0.9838519        0                0
3 0.9963917        0                0
4 0.9856382        0                0
5 0.9957451        0                0
6 1.0006146        0                0

  Date       Open   High   Low    Close  Adj.Close Volume   Close_Ratio
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900        NA
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600 0.9824010
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900 1.0018445
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500 0.9865132
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700 0.9924050
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100 1.0021824
  Adj.Close_Ratio Difference_Ratio Dividend
1        NA       NA               NA
2 0.9824010        0                0
3 1.0018445        0                0
4 0.9865132        0                0
5 0.9924050        0                0
6 1.0021824        0                0

  Date       Open  High  Low   Close Adj.Close Volume   Close_Ratio
1 2018-01-02 86.13 86.31 85.50 85.95 82.59932  22483800        NA
2 2018-01-03 86.06 86.51 85.97 86.35 82.98373  26061400 0.9953677
3 2018-01-04 86.59 87.66 86.57 87.11 83.71412  21912000 0.9912754
4 2018-01-05 87.66 88.41 87.43 88.19 84.75201  23407100 0.9877537
5 2018-01-08 88.20 88.58 87.60 88.28 84.83849  22113000 0.9989806
6 2018-01-09 88.65 88.73 87.86 88.22 84.78084  19484300 1.0006801
  Adj.Close_Ratio Difference_Ratio Dividend
1        NA                  NA               NA
2 0.9953677        7.849602e-09     6.778131e-07
3 0.9912752        2.010697e-07     1.751518e-05
4 0.9877537       -3.983611e-08    -3.513146e-06
5 0.9989807       -1.950922e-07    -1.722274e-05
6 1.0006800        1.302384e-07     1.148963e-05

  Date       Open    High    Low     Close   Adj.Close Volume  Close_Ratio
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500        NA
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800 0.9873859
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100 0.9955439
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700 0.9840945
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500 0.9857804
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300 0.9953461
  Adj.Close_Ratio Difference_Ratio Dividend
1        NA       NA               NA
2 0.9873859        0                0
3 0.9955439        0                0
4 0.9840945        0                0
5 0.9857804        0                0
6 0.9953461        0                0

  Date       Open    High    Low     Close   Adj.Close Volume    Close_Ratio
1 2018-01-02 42.5400 43.0750 42.3150 43.0650 41.51358  102223600        NA
2 2018-01-03 43.1325 43.6375 42.9900 43.0575 41.50634  118071600 1.0001742
3 2018-01-04 43.1350 43.3675 43.0200 43.2575 41.69914   89738400 0.9953765
4 2018-01-05 43.3600 43.8425 43.2625 43.7500 42.17389   94640000 0.9887429
5 2018-01-08 43.5875 43.9025 43.4825 43.5875 42.01725   82271200 1.0037281
6 2018-01-09 43.6375 43.7650 43.3525 43.5825 42.01243   86336000 1.0001148
  Adj.Close_Ratio Difference_Ratio Dividend
1        NA                  NA               NA
2 1.0001743       -1.491097e-07    -6.420290e-06
3 0.9953765       -2.205712e-08    -9.541357e-07
4 0.9887429       -8.389889e-08    -3.670576e-06
5 1.0037280        1.184949e-07     5.164895e-06
6 1.0001148       -4.713328e-09    -2.054186e-07

In [69]:
#"result" dataframe is displayed with 
#IBM
result_ibm = ibm[ibm$Difference_Ratio >=0.0001,] 
result_ibm = result_ibm[c('Date','Dividend')]
result_ibm
print("IBM")

#GOOG
result_goog = goog[goog$Difference_Ratio >=0.0001,] 
result_goog = result_goog[c('Date','Dividend')]
result_goog
print("GOOG")

#FB
result_fb = fb[fb$Difference_Ratio >=0.0001,] 
result_fb = result_fb[c('Date','Dividend')]
result_fb
print("FB")

#MSFT
result_msft = msft[msft$Difference_Ratio >=0.0001,] 
result_msft = result_msft[c('Date','Dividend')]
result_msft
print("MSFT")

#AMZN
result_amzn = amzn[amzn$Difference_Ratio >=0.0001,] 
result_amzn = result_amzn[c('Date','Dividend')]
result_amzn
print("AMZN")

#AAPL
result_aapl = aapl[aapl$Difference_Ratio >=0.0001,] 
result_aapl = result_aapl[c('Date','Dividend')]
result_aapl
print("AAPL")

    Date       Dividend
NA  NA               NA
27  2018-02-08 1.500006
89  2018-05-09 1.569984
153 2018-08-09 1.570014
217 2018-11-08 1.569999

[1] "IBM"

   Date Dividend
NA NA   NA

[1] "GOOG"

   Date Dividend
NA NA   NA

[1] "FB"

    Date       Dividend
NA  NA                NA
31  2018-02-14 0.4200146
94  2018-05-16 0.4199766
157 2018-08-15 0.4199988
221 2018-11-14 0.4599991

[1] "MSFT"

   Date Dividend
NA NA   NA

[1] "AMZN"

    Date       Dividend
NA  NA                NA
28  2018-02-09 0.1574937
91  2018-05-11 0.1825018
154 2018-08-10 0.1824938
217 2018-11-08 0.1824986

[1] "AAPL"